@model CNPMNC.Models.CTDONHANG

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa chi tiết đơn hàng</h2>

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>
<style>
    .cangiua {
        margin: 0 auto;
        background: #bbbbb5;
        height: 482px;
        width: 397px;
        margin-top: 30px;
        margin-right: 600px;
        border-radius: 15px;
    }
</style>
<div class="cangiua">
    <div style="width: 500px; height: 500px; padding: 50px 22px; color: black; background: #f4e2e2; border-radius: 15px;">
        <div class="card-header" style="text-align: center;font-size:20px;">
            <div>
                <h4>CT Đơn Hàng</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @*@Html.DisplayNameFor(model => model.Mota)*@
                        <label class="control-label col-md-2" for="Mota">Môtả</label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Mota)
                    </dd>

                    <dt>
                        @*@Html.DisplayNameFor(model => model.DONGIA)*@
                        <label class="control-label col-md-2" for="DONGIA">Đơngiá</label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DONGIA)
                    </dd>

                    <dt>
                        @*@Html.DisplayNameFor(model => model.DONHANG.NoiDi)*@
                        <label class="control-label col-md-2" for="NoiDi">Nơiđi</label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DONHANG.NoiDi)
                    </dd>

                    <dt>
                        @*@Html.DisplayNameFor(model => model.SHIPPER.TenShipper)*@
                        <label class="control-label col-md-2" for="TenShipper">Shipper</label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SHIPPER.TenShipper)
                    </dd>

                    <dt>
                        @*@Html.DisplayNameFor(model => model.PHI.IDDonHang)*@
                        <label class="control-label col-md-2" for="IDDonHang">IDĐơnhàng</label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PHI.IDDonHang)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Xóa" class="btn btn-default" /> 
                    </div>
                }
            </div>
