@model CNPMNC.Models.CTDONHANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CTDONHANG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DONGIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DONGIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DONHANG.NoiDi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DONHANG.NoiDi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SHIPPER.TenShipper)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SHIPPER.TenShipper)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHI.IDDonHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHI.IDDonHang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDCTDONHANG }) |
    @Html.ActionLink("Back to List", "Index")
</p>
