@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "DONHANGs")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@

<!DOCTYPE html>
<html>
<head>
    <title>Free Home Shoppe Website Template | Home :: w3layouts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript" src="js/startstop-slider.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            padding:0px;
        }
        .wrap {
            width:95%;
    </style>
</head>
<body>
    <div class="wrap">
        <div class="header">
            <div class="headertop_desc">             
                <div class="account_desc">
                    <ul>
                        <li><a href="/LoginUser/Register">Register</a></li>
                        <li><a href="/LoginUser/Index">Login</a></li>
                        <li><a href="#">Checkout</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="header_bottom">
                <div class="menu">
                    <ul>
                        <li class="active"><a href="https://localhost:44378/Home/Index">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="delivery.html">Delivery</a></li>
                        <li><a href="news.html">News</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="container-fluid body-content">
                <div class="row">
                    <div class="col-md-3">
                        <div class="categories">
                            <ul>
                                <h3>Quản lý giao hàng</h3>
                                <li>@Html.ActionLink("Danh sách đơn hàng", "Index", "DONHANG")</li>

                                <li>@Html.ActionLink("Chi tiết đơn hàng", "Index", "CTDONHANG")</li>
                                <li>@Html.ActionLink("Danh sách shipper", "Index", "SHIPPER")</li>
                                <li>@Html.ActionLink("Chi phí", "Index", "PHI")</li>
                                <li>@Html.ActionLink("Tài khoản", "Index", "TAIKHOAN")</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9" id="div-content">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="wrap">
                    <div class="section group">
                        <div class="col_1_of_4 span_1_of_4">
                            <h4>Information</h4>
                            <ul>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="contact.html">Customer Service</a></li>
                                <li><a href="#">Advanced Search</a></li>
                                <li><a href="delivery.html">Orders and Returns</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col_1_of_4 span_1_of_4">
                            <h4>Why buy from us</h4>
                            <ul>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="contact.html">Customer Service</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="contact.html">Site Map</a></li>
                                <li><a href="#">Search Terms</a></li>
                            </ul>
                        </div>
                        <div class="col_1_of_4 span_1_of_4">
                            <h4>My account</h4>
                            <ul>
                                <li><a href="contact.html">Sign In</a></li>
                                <li><a href="index.html">View Cart</a></li>
                                <li><a href="#">My Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="contact.html">Help</a></li>
                            </ul>
                        </div>
                        <div class="col_1_of_4 span_1_of_4">
                            <h4>Contact</h4>
                            <ul>
                                <li><span>+91-123-456789</span></li>
                                <li><span>+00-123-000000</span></li>
                            </ul>
                            <div class="social-icons">
                                <h4>Follow Us</h4>
                                <ul>
                                    <li><a href="#" target="_blank"><img src="~/Content/images/facebook.png" alt="" /></a></li>
                                    <li><a href="#" target="_blank"><img src="~/Content/images/twitter.png" alt="" /></a></li>
                                    <li><a href="#" target="_blank"><img src="~/Content/images/skype.png" alt="" /> </a></li>
                                    <li><a href="#" target="_blank"> <img src="~/Content/images/dribbble.png" alt="" /></a></li>
                                    <li><a href="#" target="_blank"> <img src="~/Content/images/linkedin.png" alt="" /></a></li>
                                    <div class="clear"></div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copy_right">
                    <p>&copy; 2013 home_shoppe. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
                </div>
            </div>
            <script type="text/javascript">$(document).ready(function () {
                    $().UItoTop({ easingType: 'easeOutQuart' });

                });</script>
            <a href="#" id="toTop"><span id="toTopHover"> </span></a>
            <script src="~/Scripts/script.js"></script>
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
</body>
</html>
